/* COMMON */
.menu {
    font-size: 18px;
    padding: 10px 0;
    line-height: normal;
}

.menu .chevron {
    font-size: 10px;
    margin-left: -3px;
}

.text-centered {
    text-align: center;
}

.back-grey {
    background-color: #f3f5f9;
}

h2, 
h3 {
    color: #031c4e;
}

.padding-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.small-container {
    max-width: 900px;
    width: 70%;
    margin: auto;
}

/* HEADER */
header .menu ul {
    margin: 0;
    padding: 0;
    line-height: normal;
}

header .menu li {
    display: inline-block;
}

header .menu li a {
    list-style-type: none;
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.text-left li {
    margin-right: 20px;
}

.text-right li {
    margin-left: 18px;
}

.menu img {
    width: 130px;
}

.button_menu {
    color: #006aff;
    border: 1px solid #006aff;
    background-color: white;
}

.burger {
    color: #006aff;
}

/* MAIN */

/* first section */
/* jumbotron */
.back-jumbo {
    background-image: url("../img/ms-jumbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: white;
    font-size: 52px;
    margin-top: 30px;
}

.back-jumbo p {
    color: white;
    font-size: 19px;
    opacity: 0.7;
}

.teaser {
    padding: 20px 0;
}

/* login section */
.box-login {
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    border-radius: 2px;
}

.box-login h2 {
    font-size: 24px;
    padding-top: 30px;
}

.blue-text {
    color: #006aff;
}

.login-form {
    box-shadow: none;
    font-size: 20px;
    padding: 1px 20px;
}

.button_login {
    width: calc(100% - 40px);
    font-size: 13px;
    background-color: #579aff;
    color: white;
}

.button_google {
    width: calc(100% - 40px);
    font-size: 13px;
    margin: 10px 0;
}

.img-login {
    width: 20px;
}

.login-footer p {
    color: #031c4e;
    font-size: 10px;
    padding-bottom: 20px;
}

.login-footer a {
    font-size: 12px;
}

/* second section */
.second-section div.text-centered {
    text-transform: uppercase;
    color: #6f7b97;
    padding-top: 30px;
}

.second-section img {
    width: calc((100% / 6) - 4%);
    margin: 0 10px;
}

.second-section div.img-middle {
    text-align: center;
    padding: 0;
}

.second-section div.middle {
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 767px) {     /* per ingrandire le immagini solo nella vista smartphone */
    .second-section img {
      width: 40%;
    }  
}

/* deploy */
.menu-left {
    padding-top: 30px;
}

.menu-left ul {
    padding-left: 0;
}

.menu-left li a {
    list-style-type: none;
    font-size: 13px;
    color: #75809a;
    font-weight: 400;
    padding-left: 10px;
}

.menu-left li {
    list-style-type: none;
    border-left: 1px solid #75809a;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* parte destra */
.deploy-text p {
    color: #5c6a88;
}

/* developers */
.fourth-section p {
    color: #5c6a88;
}

.fourth-section img {
    padding-top: 30px;
    width: 50%;
    height: auto;
    padding-bottom: 20px;
}

.chevron-img {
    position: relative;
}

.chevron-left {
    position: absolute;
    top: 45%;
    left: 21%;
    font-size: 30px;
}

.chevron-right {
    position: absolute;
    top: 45%;
    right: 21%;
    font-size: 30px;
}

.fourth-section div > p {
    color: #031c4e;
}

.box-circle {
    position: relative;
}

.position-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.little-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f3f5f9;
    display: inline-block;
    border: 1px solid #006aff;
}

.position-circle div:first-child {
    background-color: #006aff;
}

@media screen and (max-width: 767px) { /* per togliere le freccie ai lati */
    .chevron-left, .chevron-right {
      display: none;
    }  
}

/* feature and business */
.fifth-section h2 {
    padding-bottom: 20px;
}

.fifth-section p {
    font-size: 13px;
    color: #5c6a88;
}

/* service */
.sixth-section {
    background-color: #0044c2;
    color: white;
}

.sixth-section h2 {
    padding-bottom: 20px;
    color: white;
}

.sixth-section a {
    color: #00d7d2;
}

.col-padding {
    margin-right: 15px;
    margin-left: 15px;    
}

.col-padding [class*="col-"] {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid white;
}

.col-padding .row:last-child [class*="col-"] {
    border-bottom: 0;
}

.col-padding:last-child {
    padding-top: 20px;
}

.box-rocket {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: white;
    padding-bottom: 50px;
}

.seventh-section .box-rocket p {
    color: #5c6a88;
    font-size: 20px;
}

.seventh-section p.dark {
    color: #031c4e;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
}

.seventh-section #co-founder {
    font-size: 14px;
}

.box-rocket img {
    padding-top: 50px;
}

.seventh-section .box-circle {
    padding-top: 20px;
}

/* eighth section  */
.eighth-section {
    background-color: #0030a9;
}

.eighth-section h2 {
    color: white;
}

.eighth-section .button-starter {
    color: #006aff;
}