/* COMMON */
.menu {
    font-size: 18px;
    padding: 10px 0;
    line-height: normal;
}

.menu .chevron {
    font-size: 10px;
    margin-left: -3px;
}

.text-centered {
    text-align: center;
}

.padding-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.small-container {
    max-width: 900px;
    width: 70%;
    margin: auto;
}

/* HEADER */
header .menu ul {
    margin: 0;
    padding: 0;
    line-height: normal;
}

header .menu li {
    display: inline-block;
}

header .menu li a {
    list-style-type: none;
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.text-left li {
    margin-right: 20px;
}

.text-right li {
    margin-left: 18px;
}

.menu img {
    width: 130px;
}

.button_menu {
    color: #006aff;
    border: 1px solid #006aff;
    background-color: white;
}

.burger {
    color: #006aff;
}

/* MAIN */

/* first section */
/* jumbotron */
.back-jumbo {
    background-image: url("../img/ms-jumbo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: white;
    font-size: 52px;
    margin-top: 30px;
}

.back-jumbo p {
    color: white;
    font-size: 19px;
    opacity: 0.7;
}

.teaser {
    padding: 20px 0;
}

/* login section */
.box-login {
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    border-radius: 2px;
}

.box-login h2 {
    font-size: 24px;
    padding-top: 30px;
}

.blue-text {
    color: #006aff;
}

.login-form {
    box-shadow: none;
    font-size: 20px;
    padding: 1px 20px;
}

.button_login {
    width: calc(100% - 40px);
    font-size: 13px;
    background-color: #579aff;
    color: white;
}

.button_google {
    width: calc(100% - 40px);
    font-size: 13px;
    margin: 10px 0;
}

.img-login {
    width: 20px;
}

.login-footer p {
    color: #031c4e;
    font-size: 10px;
    padding-bottom: 20px;
}

.login-footer a {
    font-size: 12px;
}

/* second section */
.back-grey {
    background-color: #f3f5f9;
}

.back-grey div.text-centered {
    text-transform: uppercase;
    color: #6f7b97;
    padding-top: 30px;
}

.back-grey img {
    width: calc((100% / 6) - 4%);
    margin: 0 10px;
}

.back-grey div.img-middle {
    text-align: center;
    padding: 0;
}

.back-grey div.middle {
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 767px) {     /* per ingrandire le immagini solo nella vista smartphone */
    .back-grey img {
      width: 40%;
    }  
}

/* deploy */
.menu-left {
    padding-top: 30px;
}

.menu-left ul {
    padding-left: 0;
}

.menu-left li a {
    list-style-type: none;
    font-size: 13px;
    color: #75809a;
    font-weight: 400;
    padding-left: 10px;
}

.menu-left li {
    list-style-type: none;
    border-left: 1px solid #75809a;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* parte destra */
.deploy-text p {
    color: #5c6a88;
}
